<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>com.controller.UploadImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrintServer</servlet-name>
    <servlet-class>com.controller.PrintServer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrintServer2</servlet-name>
    <servlet-class>com.controller.PrintServer2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>createPrintMap</servlet-name>
    <servlet-class>com.controller.createPrintMap</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerCustomizeMap</servlet-name>
    <servlet-class>com.controller.registerCustomizeMap</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Base64ToPIC</servlet-name>
    <servlet-class>com.controller.Base64ToPIC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MakeGradeParam</servlet-name>
    <servlet-class>com.controller.MakeGradeParam</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MakeChartParam</servlet-name>
    <servlet-class>com.controller.MakeChartParam</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadExcelServlet</servlet-name>
    <servlet-class>com.controller.UploadExcelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveExcel2Clob</servlet-name>
    <servlet-class>com.controller.SaveExcel2Clob</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MakeStatisticMap</servlet-name>
    <servlet-class>com.controller.MakeStatisticMap</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MakeStatisticMapLegend</servlet-name>
    <servlet-class>com.controller.MakeStatisticMapLegend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getCustomizeMapDataList</servlet-name>
    <servlet-class>com.controller.getCustomizeMapDataList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getCustomizeMapDataIndex</servlet-name>
    <servlet-class>com.controller.getCustomizeMapDataIndex</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getCustomizeFormatDataList</servlet-name>
    <servlet-class>com.controller.getCustomizeFormatDataList</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getBaseMap</servlet-name>
    <servlet-class>com.controller.getBaseMap</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveUserMap</servlet-name>
    <servlet-class>com.controller.SaveUserMap</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetStatisticYearBookData</servlet-name>
    <servlet-class>com.controller.GetStatisticYearBookData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrintServer2</servlet-name>
    <url-pattern>/PrintServer2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrintServer</servlet-name>
    <url-pattern>/PrintServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createPrintMap</servlet-name>
    <url-pattern>/createPrintMap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerCustomizeMap</servlet-name>
    <url-pattern>/registerCustomizeMap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetStatisticYearBookData</servlet-name>
    <url-pattern>/GetStatisticYearBookData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Base64ToPIC</servlet-name>
    <url-pattern>/base64ToPIC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeGradeParam</servlet-name>
    <url-pattern>/makeGradeParam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeChartParam</servlet-name>
    <url-pattern>/makeChartParam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadExcelServlet</servlet-name>
    <url-pattern>/uploadExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveExcel2Clob</servlet-name>
    <url-pattern>/saveExcel2Clob</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeStatisticMap</servlet-name>
    <url-pattern>/MakeStatisticMap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeStatisticMapLegend</servlet-name>
    <url-pattern>/MakeStatisticMapLegend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getCustomizeMapDataList</servlet-name>
    <url-pattern>/getCustomizeMapDataList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getCustomizeMapDataIndex</servlet-name>
    <url-pattern>/getCustomizeMapDataIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getCustomizeFormatDataList</servlet-name>
    <url-pattern>/getCustomizeFormatDataList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveUserMap</servlet-name>
    <url-pattern>/SaveUserMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetResourceByName</servlet-name>
    <servlet-class>kjoms.udcs.controller.GetResourceByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResourceByName</servlet-name>
    <url-pattern>/GetResourceByName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginTest</servlet-name>
    <servlet-class>kjoms.udcs.controller.LoginTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginTest</servlet-name>
    <url-pattern>/LoginTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IsLogin</servlet-name>
    <servlet-class>kjoms.udcs.controller.IsLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsLogin</servlet-name>
    <url-pattern>/IsLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetWorkSpace</servlet-name>
    <servlet-class>kjoms.udcs.controller.GetWorkSpace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWorkSpace</servlet-name>
    <url-pattern>/GetWorkSpace</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProxyGetViewData</servlet-name>
    <servlet-class>com.controller.ProxyGetViewData</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MakeClassMapLegend</servlet-name>
    <servlet-class>com.controller.MakeClassMapLegend</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>manageMyMap</servlet-name>
    <servlet-class>com.controller.manageMyMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxyGetViewData</servlet-name>
    <url-pattern>/ProxyGetViewData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeClassMapLegend</servlet-name>
    <url-pattern>/MakeClassMapLegend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>manageMyMap</servlet-name>
    <url-pattern>/manageMyMap</url-pattern>
  </servlet-mapping>
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>customize.html</welcome-file>
  </welcome-file-list>
</web-app>